{% extends 'base.html.twig' %}

{% block title %}Code Nature{% endblock %}

{% block body %}

    <a class="btn btn-link" href="/ref" role="button"><img src="/img/retour.png"></a>

<center>
  <a class="btn" href="/ctgav/new" role="button"><img src="/img/add-adr.png"></a>    
</center>

 {% if categories %}
  <table id="categories" name="categories"class="table table-striped" style="padding:5px; border-spacing:5px;">
   <thead>
    <th> ID</th>
    <th> Code Catégorie d'avoir</th>
    <th> Libellé Catégorie d'avoir </th>
    <th> Actions</th>
   </thead>
    <tbody>
     {% for cat in categories %}
         <tr>
          <td class="pt-1 pb-1"> {{ cat.id }}</td>
          <td class="pt-1 pb-1"> {{ cat.CodeCatgorieAvoir }}</td>
          <td class="pt-1 pb-1"> {{ cat.LibelleCategorieAvoir }}</td>
          <td class="pt-1 pb-1"> 
            <a href="/ctgav/edit/{{ cat.id }}" class="btn btn-secondary btn-sm">Modifier</a>
            <a href="#" class="btn btn-danger delete-cat btn-sm" data-id="{{ cat.id }}">Supprimer</a> 
          </td>
         </tr> 
     {% endfor %}
    </tbody>
  </table>

   <script src="/js/del/suppcat.js"></script>

  {% else %}
  <div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Tableau vide!</h4>
  <p class="mb-0">pas des données de Catégories.</p>
  </div> 
 {% endif %}


{% endblock %}
