{% extends 'base.html.twig' %}

{% block title %}Type Adhérents{% endblock %}

{% block body %}

    <a class="btn btn-link" href="/ref" role="button"><img src="/img/retour.png"></a>

<center>
  <a class="btn" href="/typeadr/new" role="button"><img src="/img/add-adr.png"></a>    
</center>

 {% if typeAdhrents %}
  <table id="typeAdhrents" name="typeAdhrents"class="table table-striped">
   <thead>
    <th> ID</th>
    <th> Code Type Adhérent</th>
    <th> Libellé Type Adhérent</th>
    <th> Date de mise a jour</th>
    <th> Actions</th>
   </thead>
    <tbody>
     {% for typeAdhrent in typeAdhrents %}
         <tr>
          <td class="pt-1 pb-1"> {{ typeAdhrent.id }}</td>
          <td class="pt-1 pb-1"> {{ typeAdhrent.CodeTypeAdherent }}</td>
          <td class="pt-1 pb-1"> {{ typeAdhrent.LibelleTypeAdherent }}</td>
          <td class="pt-1 pb-1"> {% if typeAdhrent.datemaj %} {{ typeAdhrent.DateMaj|date("m/d/Y") }} {% endif %}</td>
          <td class="pt-1 pb-1"> 
            <a href="/typeadr/edit/{{ typeAdhrent.id }}" class="btn btn-secondary btn-sm">Modifier</a>
            <a href="#" class="btn-sm btn btn-danger delete-tadhrent" data-id="{{ typeAdhrent.id }}">Supprimer</a> 
          </td>
         </tr> 
     {% endfor %}
    </tbody>
  </table>

   <script src="/js/del/supptypeadr.js"></script>

  {% else %}
  <div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Tableau vide!</h4>
  <p class="mb-0">pas des données de type Adhrents.</p>
  </div>  {% endif %}


{% endblock %}
