{% extends 'base.html.twig' %}

{% block title %}Stock par jour{% endblock %}

{% block body %}
<style>

{# td,th{
  padding: 5px;
  text-align: left;
}
 #}

.t1 { 
  width:500px;
}
</style>

   <a class="btn btn-link" href="/sticodevam" role="button"><img src="/img/retour.png"></a>
<br>

<h2>Consulter l'historique Stock par jour</h2>
<br>

{{ form_start(rech_form_jr) }}
<center>
 <table>
    <tr>
    <td>{{ form_label(rech_form_jr.Datebdeb) }}</td>
    <td>{{ form_widget(rech_form_jr.Datebdeb) }}</td>  
    <td>{{ form_label(rech_form_jr.Dateadeb) }}</td>
    <td>{{ form_widget(rech_form_jr.Dateadeb) }}</td>
{#         {% set dateB = date(rech_form_jr.Dateadeb)|date_modify("+3 days")|date("d/m/Y")%} #}    
{#     <td>{{ form_widget(rech_form_jr.Datebdeb, {'value' : rech_form_jr.Dateadeb }) }}</td> #}    
    </tr>
    <tr>
    <td>{{ form_label(rech_form_jr.Sisin) }}</td>     
    <td>{{ form_widget(rech_form_jr.Sisin) }}</td>
    <td>{{ form_label(rech_form_jr.Tisin) }}</td>     
    <td>{{ form_widget(rech_form_jr.Tisin) }}</td>
    </tr>
    <tr>
    <td>{{ form_label(rech_form_jr.Scodead) }}</td>     
    <td>{{ form_widget(rech_form_jr.Scodead) }}</td>
    <td>{{ form_label(rech_form_jr.Tcodead) }}</td>     
    <td>{{ form_widget(rech_form_jr.Tcodead) }}</td>
    </tr>
    <tr>
    <td>{{ form_label(rech_form_jr.Scoden) }}</td>     
    <td>{{ form_widget(rech_form_jr.Scoden) }}</td>
    <td>{{ form_label(rech_form_jr.Tcoden) }}</td>     
    <td>{{ form_widget(rech_form_jr.Tcoden) }}</td>
    </tr>
    <tr>
    <td>{{ form_label(rech_form_jr.TypeAdherents) }}</td>     
    <td>{{ form_widget(rech_form_jr.TypeAdherents) }}</td>
    <td>{{ form_label(rech_form_jr.TypeValeurs) }}</td>     
    <td>{{ form_widget(rech_form_jr.TypeValeurs) }}</td>
    </tr>

</table>
</center>
{{ form_widget(rech_form_jr.submit) }}

{{ form_end(rech_form_jr) }}

<br>

{% if stocksA %}
<div id="stcItems" class="container">

<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#tabAd">Adhérents</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tabVal">Valeurs</a>
  </li>
  
</ul>

<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade active show" id="tabAd">
{# <br>
 #}
<center>
<table id="dataTable" name="stocks" class="table table-hover table-scroll small-first-col table table-striped fixed_header">
   <thead class="table-primary" style="font-size:0.8em">
    <th class="pt-1 pb-1 col-1">Adhérent</th>
    {% for cat in catAv %}
     <th class="pt-1 pb-1">{{ cat.LibelleCategorieAvoir }}</th>
    {% endfor %}

    <th class="pt-1 pb-1">Total</th>
    <th class="pt-1 pb-1">Part(%)</th>
    <th class="pt-1 pb-1">Part cumutée(%)</th>
   </thead>
    <tbody class="body-half-screen">
{% set prctCummule = 0 %}
{% for stock in stocksA %}
      <tr>
    {% set TSETfirstVal = false %}
    {% for stk in stock %}
      {% if TSETfirstVal == false %}
        {% set TSETfirstVal = true %}
          <th class="pt-1 pb-1 col-1">{{ stk }}</th>
      {% else %}
          <td class="pt-1 pb-1" style="font-size:0.9em">{{ stk }}</td>
      {% endif %}
      {% set pr = stk %}
    {% endfor %}
    {# number_format(2) after , #}
        {% set part = (stock|last / totalVAL|last * 100)|number_format %}
        <td class="pt-1 pb-1">{{ part }}%</td>
        {% set prctCummule = prctCummule + part %}
        <td class="pt-1 pb-1">{{ prctCummule }}%</td>
      <tr>
{% endfor %}
    </tbody>
    <tr class="table-primary">
     <th class="pt-1 pb-1 col-1">Total</th>
    {% for tot in totalVAL %}
     <td class="pt-1 pb-1">{{ tot }}</td>
    {% endfor %}
    <td class="pt-1 pb-1">100%</td>
    <td class="pt-1 pb-1"> 100% </td>
    </tr>
  </table>
</center>

</div>   


  <div class="tab-pane fade" id="tabVal">

<center>
{# class="table-scroll small-first-col table table-striped fixed_header tablew" #}
<table id="dataTable" name="stocks" class="table table-hover table-scroll small-first-col table table-striped fixed_header">
   <thead class="table-primary" style="font-size:0.8em">
    <th class="pt-1 pb-1 col-1">Valeur</th>
{# class="pt-1 pb-1"#}
    {% for cat in catAv %}
     <th class="pt-1 pb-1">{{ cat.LibelleCategorieAvoir }}</th>
    {% endfor %}

    <th class="pt-1 pb-1">Total</th>
    <th class="pt-1 pb-1">Part(%)</th>
    <th class="pt-1 pb-1">Part cumutée(%)</th>
   </thead>
    <tbody class="body-half-screen">
{% set prctCummule = 0 %}
{% for stock in stocksV %}
      <tr>
    {% set TSETfirstVal = false %}
    {% for stk in stock %}
      {% if TSETfirstVal == false %}
        {% set TSETfirstVal = true %}
          <th class="pt-1 pb-1 col-1">{{ stk }}</th>
      {% else %}
          <td class="pt-1 pb-1" style="font-size:0.9em">{{ stk }}</td>
      {% endif %}
      {% set pr = stk %}
    {% endfor %}
        {% set part = (stock|last / totalVAL|last * 100)|number_format(2) %}
        <td class="pt-1 pb-1">{{ part }}%</td>
        {% set prctCummule = prctCummule + part %}
        <td class="pt-1 pb-1">{{ prctCummule }}%</td>
      <tr>
{% endfor %}
    </tbody>
    <tr class="table-primary">
     <th class="pt-1 pb-1 col-1">Total</th>
    {% for tot in totalVAL %}
     <td class="pt-1 pb-1">{{ tot }}</td>
    {% endfor %}
    <td class="pt-1 pb-1">100%</td>
    <td class="pt-1 pb-1"> 100% </td>
    </tr>
  </table>
</center>
</div>


</div>

 {% else %}
  <div class="alert alert-dismissible alert-primary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Tableau vide!</h4>
    <p class="mb-0">pas des données de stocks.</p>
    </div> 
  </div>
 {% endif %} 

{% endblock %}