{% extends 'base.html.twig' %}

{% block title %}Stock par période{% endblock %}

{% block body %}

{% set dateB = [] %}
{% set FltDateB = [] %}
{% set qte = [] %}

<style>

 td,th{
  padding: 5px;
}

</style>

    <a class="btn btn-link" href="/sticodevam" role="button"><img src="/img/retour.png"></a>

<br>
<h2>Consulter l'historique Stock par période</h2>
<br>

{{ form_start(rech_form_per) }}
<center>
 <table>
    <tr>
    <td>{{ form_label(rech_form_per.Dateadeb) }}</td>
    <td>{{ form_widget(rech_form_per.Dateadeb) }}</td>
    <td>{{ form_label(rech_form_per.Dateafin) }}</td>     
    <td>{{ form_widget(rech_form_per.Dateafin) }}</td>
    </tr>
    <tr>
    <td>{{ form_label(rech_form_per.Datebdeb) }}</td>
    <td>{{ form_widget(rech_form_per.Datebdeb) }}</td>
    <td>{{ form_label(rech_form_per.Datebfin) }}</td>     
    <td>{{ form_widget(rech_form_per.Datebfin) }}</td>
    </tr>
    <tr>
    <td>{{ form_label(rech_form_per.Sisin) }}</td>     
    <td>{{ form_widget(rech_form_per.Sisin) }}</td>
    <td>{{ form_label(rech_form_per.Tisin) }}</td>     
    <td>{{ form_widget(rech_form_per.Tisin) }}</td>
    </tr>
    <tr>
    <td>{{ form_label(rech_form_per.Scodead) }}</td>     
    <td>{{ form_widget(rech_form_per.Scodead) }}</td>
    <td>{{ form_label(rech_form_per.Tcodead) }}</td>     
    <td>{{ form_widget(rech_form_per.Tcodead) }}</td>
    </tr>

</table>
</center>

{{ form_widget(rech_form_per.submit) }}

{{ form_end(rech_form_per) }}

<br>

{% if perStocks %}

<div id="stcItems" class="container">

<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#tab">Tableau</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#graph">Graphique</a>
  </li>
  
</ul>

<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade active show" id="tab">

<center>
<table id="dataTable" name="stocks" class="table table-hover table-scroll small-first-col table table-striped fixed_header">
   <thead class="table-primary" style="font-size:0.8em">
    <th class="pt-1 pb-1 col-1">Date Bourse</th>
    {% for cat in catAv %}
     <th class="pt-1 pb-1">{{ cat.LibelleCategorieAvoir }}</th>
    {% endfor %}
    <th class="pt-1 pb-1">Total</th>
    <th class="pt-1 pb-1">Part(%)</th>
   </thead>
    <tbody class="body-half-screen">
{% set endTot = totalDATE|last - toDel %}
{% set totalDATE = totalDATE|slice(0,-1) %}
{% set totalDATE = totalDATE|merge( [endTot] ) %}
{% set TSETfirstDate = false %}
{% set firstTot = true %}
{% set graphFlt = true %}

{% for stock in FltPerStocks %}
    {% if firstTot == false %}
      {% set lastTot = stock|last - IDKqtt %}
      {% set stock = stock|slice(0,-1) %}
      {% set stock = stock|merge( [lastTot] ) %}
    {% endif %}
    {% set firstTot = false %}
      <tr>
    {% set TSETfirstVal = false %}
    {% set kfx = -1 %}
    {% for stk in stock %}
      {% set kfx = kfx + 1 %}
      {% if TSETfirstVal == false %}
        {% set TSETfirstVal = true %}
          <th class="pt-1 pb-1 col-1" style="font-size:0.8em">{{ stk }}</th>
      {% else %}
          {% if TSETfirstDate == false and kfx == IDKkey %}
            {% set TSETfirstDate = true %}
            <td class="pt-1 pb-1" style="font-size:0.9em">{{ stk }}</td>
          {% else %}
            {% if kfx == IDKkey %}
                {% set stk = stk - IDKqtt %}
            {% endif %}
            <td class="pt-1 pb-1" style="font-size:0.9em">{{ stk }}</td>
          {% endif %}
      {% endif %}
    {% endfor %}
        {% set part = (stock|last / totalDATE|last * 100)|number_format(2) %}
        <td class="pt-1 pb-1" style="font-size:0.9em">{{ part }}%</td>
      <tr>
      {% if graphFlt == true %}
        {% set FltDateB = FltDateB|merge([ stock|first  ]) %}
        {% set graphFlt = false %}
      {% else %}
        {% set FltDateB = FltDateB|merge([ " "  ]) %}
        {% set graphFlt = true %}
      {% endif %}

      {% set dateB = dateB|merge([ stock|first  ]) %}
      {% set qte = qte|merge([ stock|last  ]) %}
{% endfor %}
    </tbody>
    <tr class="table-primary">
     <th class="pt-1 pb-1 col-1">Total</th>
    {% set t = 0 %}
    {% for tot in totalDATE %}
      {% set t = t + 1 %}
      {% if t == IDKkey %}{% set tot = tot - toDel %}{% endif %}
      <td class="pt-1 pb-1" style="font-size:0.9em">{{ tot }}</td>
    {% endfor %}
    <td class="pt-1 pb-1" style="font-size:0.9em">100%</td>
    </tr>
  </table>

</center>
</div>   

<div class="tab-pane fade" id="graph">
<center>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <div id="chart_div"></div>
</center>
</div>

</div>

  {% else %}
  <div class="alert alert-dismissible alert-primary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Tableau vide!</h4>
    <p class="mb-0">pas des données de stocks.</p>
    </div> 
  </div>
 {% endif %} 

{#   <script src="/js/graph/stock/per.js"></script> #} 
<script>
google.charts.load('45', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {

  const FltDateB = JSON.parse('{{ FltDateB | json_encode | raw }}');
  const qte = JSON.parse('{{ qte | json_encode | raw }}');

  var data = new google.visualization.DataTable();
    data.addColumn('string', 'Date de bourse');
    data.addColumn('number', 'Quantité');

  for(i = 0; i < qte.length; i++)
    data.addRow([FltDateB[i], qte[i]]);

  var options = {
    //title: "Titre",
    hAxis: {title: 'Date Bourse',  titleTextStyle: {color: '#333'}},
    vAxis: {minValue: 0},
    width: 800,
    height: 500
  };
  new google.visualization.AreaChart(document.getElementById('chart_div')).draw(data, options);
}
</script>

{% endblock %}