{% extends 'base.html.twig' %}

{% block title %}Mouvement{% endblock %}

{% block body %}
<style>

 td,th{
  padding: 3px;
}

</style>
    <a class="btn btn-link" href="/sticodevam" role="button"><img src="/img/retour.png"></a>

<br>
<h2>Consulter l'historique Mouvement</h2>
<br>
{{ form_start(rech_form) }}
<center>
 <table>
    <tr>
    <td>{{ form_label(rech_form.Datebdeb) }}</td>
    <td>{{ form_widget(rech_form.Datebdeb)  }}</td>
    <td>{{ form_label(rech_form.Datebfin) }}</td>     
    <td>{{ form_widget(rech_form.Datebfin) }}</td>
    </tr>
    <tr>
    <tr>
    <td>{{ form_label(rech_form.Dateadeb) }}</td>     
    <td>{{ form_widget(rech_form.Dateadeb) }}</td>
    <td>{{ form_label(rech_form.Dateafin) }}</td>     
    <td>{{ form_widget(rech_form.Dateafin) }}</td>
    </tr>
    <tr>
    <td>{{ form_label(rech_form.Sisin) }}</td>     
    <td>{{ form_widget(rech_form.Sisin) }}</td>
    <td>{{ form_label(rech_form.Tisin) }}</td>     
    <td>{{ form_widget(rech_form.Tisin) }}</td>
    </tr>
    <tr>
    <td>{{ form_label(rech_form.Scodeop) }}</td>     
    <td>{{ form_widget(rech_form.Scodeop) }}</td>
    <td>{{ form_label(rech_form.Tcodeop) }}</td>     
    <td>{{ form_widget(rech_form.Tcodeop) }}</td>
    </tr>
    <tr>
    <td>{{ form_label(rech_form.Livreurs) }}</td>     
    <td>{{ form_widget(rech_form.Livreurs) }}</td>
    <td>{{ form_label(rech_form.Livres) }}</td>     
    <td>{{ form_widget(rech_form.Livres) }}</td>
    </tr>

</table>
</center>

{{ form_widget(rech_form.submit) }}

{{ form_end(rech_form) }}

<br> 

 {% if MvtFlt %}

 {% set sumNt = 0 %}    
 {% set sumM = 0 %} 
{#  {% set i = 1 %}  #}
  <table id="mouvements" name="mouvements" class="table-scroll small-first-col table table-striped fixed_header">
   <thead class="table-primary">
    <th class="col-12 col-md-8"> Libellé Opération</th>
    <th class="col-sm-4">Nombre de titres</th>
    <th class="col-sm-4">Montant</th>
   </thead>
    <tbody class="body-half-screen">
     {% for mv in MvtFlt %}
        <tr>
          <td class="pt-1 pb-1 col-12 col-md-8"> {{ mv[0] }} </td>
          <td class="pt-1 pb-1 col-sm-4"> {{ mv[1] }}</td>
          <td class="pt-1 pb-1 col-sm-4"> {{ mv[2] }}</td>
        </tr> 
            {% set sumNt = sumNt + mv[1] %}        
            {% set sumM = sumM + mv[2] %}   
     {% endfor %}

    </tbody>
    <tr>
     <th class="col-12 col-md-8">Total</th>
     <td class="col-sm-4">{{ sumNt }}</td>
     <td class="col-sm-4">{{ sumM }}</td>
    </tr>
  </table>

    <script src="/js/mv.js"></script> 

  {% else %}
  <div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Tableau vide!</h4>
  <p class="mb-0">pas des données de mouvements.</p>
  </div>
  {% set testVd = true %} 
 {% endif %} 

{% endblock %}