{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <a class="btn btn-link" href="/ref" role="button"><img src="/img/retour.png"></a><br><br>

<div class="container">
  <div class="row">
    <div class="col-sm" align="left">
      <h3>Catégories d'avoir</h3>
    </div>
    <div class="col-sm" align="center">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"><img src="/img/loupe.png"></span>
        <input type="search" placeholder="Chercher..." class="form-control mr-sm-2 search-input" data-table="categories"/>
      </div>
    </div>
    <div class="col-sm" align="right">
      <a class="btn btn-primary" href="/ctgav/new" role="button"><img src="/img/add.png">
      <font style="opacity: 0.0;">_</font>Ajouter</a>   
    </div>
  </div>
</div>

 {% if categories %}
  <table id="categories" name="categories"class="table table-striped categories" style="padding:5px; border-spacing:5px;">
   <thead>
    <th></th>
    <th> Code Catégorie d'avoir</th>
    <th> Libellé Catégorie d'avoir </th>
    <th> Date de mise a jour</th>
    <th> Actions</th>
   </thead>
    <tbody>
      {% set obs = 1 %}
     {% for cat in categories %}
         <tr>
          <th class="pt-1 pb-1 table-primary"> {{ obs }}</th>
          <td class="pt-1 pb-1"> {{ cat.CodeCatgorieAvoir }}</td>
          <td class="pt-1 pb-1"> {{ cat.LibelleCategorieAvoir }}</td>
          <td class="pt-1 pb-1"> {% if cat.datemaj %} {{ cat.DateMaj|date("m/d/Y") }} {% endif %}</td>
          <td class="pt-1 pb-1"> 
            <a href="/ctgav/edit/{{ cat.id }}" class="btn btn-secondary btn-sm">Modifier</a>
            <a href="#" class="btn btn-danger delete-cat btn-sm" data-id="{{ cat.id }}">Supprimer</a> 
          </td>
         </tr>     
          {% set obs = obs + 1 %}
     {% endfor %}
    </tbody>
  </table>

   <script src="/js/del/suppcat.js"></script>
   <script src="/js/sch/sch.js"></script>

  {% else %}
  <div class="alert alert-dismissible alert-primary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Tableau vide!</h4>
  <p class="mb-0">pas des données de Catégories.</p>
  </div> 
 {% endif %}


{% endblock %}
